<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}AEPG - Welcome !{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            {% include "layouts/partials/_navbar.html.twig" %}
            {% include "layouts/partials/_flash_messages.html.twig" %}
        </header>
        <main>
        {% block body %}{% endblock %}
        </main>
        {% include "layouts/partials/_footer.html.twig" %}
    </body>
</html>
