<hr class="mb-0 mt-5">
<footer class="bg-light d-flex align-items-center justify-content-center" style="height: 150px;">
    <p>© {{"now"|date('Y')}} AEPG, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    <p>
      <a href="#">Back to top</a>
    </p>
</footer>