<nav class="nav">
    <a href="">
        <img class="nav-logo" src="{{asset('images/logo-aepg.png')}}" alt="Logo de l'association des étudiants pénalistes de Grenoble">
        <span>Espace administrateur</span>
    </a>
</nav>