{% extends 'layouts/base.html.twig' %}

{% block title %}AEPG - Promotions{% endblock %}

{% block body %}

<h1>Promotions</h1>
<ul>
{% for promotion in promotions %}
    <li>{{promotion.year}} : </li>
    <ul>
        {% for member in promotion.members %}
            <li>{{member.lastname}}</li>
        {% endfor %}
    </ul>
{% endfor %}
</ul>

{% endblock %}
