{% extends "email.html.twig" %}

{% block body %}
<p>
    Voulez vous apparaitre sur le site de l'AEPG ? <br>
    Cliquez sur le lien ci dessous.
</p>    
<br>
<a href="{{path('member_renewal_answer', {token: token, answer: answers['oui']})}}">Oui</a> | 
<a href="{{path('member_renewal_answer', {token: token, answer: answers['non']})}}">Non</a> | 
<a href="{{path('member_renewal_answer', {token: token, answer: answers['jamais']})}}">Jamais</a>
{% endblock %}