{% extends "email.html.twig" %}

{% block body %}
<p>
    Voulez vous apparaitre sur le site de l'AEPG ? <br>
    Cliquez sur le lien ci dessous.
</p>    
<br>
<a href="#">Oui</a> | <a href="#">Non</a>
{% endblock %}