{% extends 'layouts/base.html.twig' %}

{% block body %}
<h1>Modification de l'article : {{article.title}}</h1>

{% include "layouts/partials/_form.html.twig" with {btn: 'Modifier'} %}

{% endblock %}
